<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal</title>
</head>
<body>
<form method="post" action="#">
    <label>Animal
        <input type="text" name="animal" value="{{ @animal }}">
    </label>
    <check if="{{ @errors['animal'] }}">
        <span class="err">{{ @errors['animal'] }}</span>
    </check><br><br>


    <label>Quantity
        <input type="text" name="qty" value="{{ @qty }}">
    </label>
    <check if="{{ @errors['qty'] }}">
        <span class="err">{{ @errors['qty'] }}</span>
    </check>
    <input type="submit" value="Next">
</form>

</body>
</html>